@import '../../styles/styles.scss';

.container_layout {
    height: 100%;
    min-height: 40vh;
    width: 100%;
    margin: 0 auto;
    @include layout-padding;

    & .layout_child_content {
        width: 100%;
        background: transparent;
        padding: 0 20px;
    }
}