html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.name {
  color: red;
}

* {
  box-sizing: border-box;
  color: #4c4c4c;
  font-size: 14px;
  cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/left_ptr.png), default;
}

:root {
  --pointer: url(https://cdn.jsdelivr.net/gh/inkss/common@1/cursor/pointer.png), default;

  --hoverNavColor: #20c997;
  --hoverCoverNavColor: #ffffff;
  --defaultFontSize: 14px;
}